body, html {
    margin: 0;
    padding: 50px;
    background-color: rgba(54, 186, 223, 0.82);
}

body {
    box-shadow: 0px 0px 120px rgba(41, 104, 215, 0.82);
}

#placeholder {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 15px;
    box-shadow: 0px 0px 100px rgba(41, 104, 215, 0.92);
}

.tip1, .tip2 {
    border-radius: 50%;
    padding: 10px 15px;
    text-align: center;
    font-size: 5em;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(250, 250, 250, 0.8);
}

.tip1 {
    background-color: rgba(20, 20, 20, 0.8);
}

.tip2 {
    background-color: rgba(143,155,30,0.82);
    color: #EEEEE3;
}

table {
    position: fixed;
    bottom: 0;
    left: 15%;
    max-height: 400px;
    background-color: white;
    display: block;
    overflow-y: auto;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.8);
}

td {
    border-bottom: 1px dotted rgba(20, 20, 20, 0.8);
    padding: 20px 100px;
}

#actions {
    display: flex;
    width: 100%;
    align-content: space-around;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(41, 104, 215, 0.52);
    transition: all ease 2s;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.25);
}

#actions:hover {
    box-shadow: 0 15px 15px rgba(41, 104, 215, 0.82);
}

button, a {
    padding: 10px 20px;
    background-color: rgb(50,70,150);
    color: #FFF;
    border:none;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 0 5px rgba(20, 20, 20, 0.5);
    transition: all ease 1s;
}

button:hover, a:hover {
    box-shadow: 2px 0 8px rgba(20, 20, 20, 0.8);
}

table {
    transition: all ease-in-out 1.5s;
    opacity: 0;
}

#table-toggle-button {
    position: fixed;
    bottom: 0;
    left: 10px;
    bottom: 5px;
}

